@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

$color: #47d;
$colorAccent: #58e;

$colorAccent2: #333;
$colorAccent2rgba: rgba(255, 255, 255, 0.15);

$textShadowDark: rgba(0, 0, 0, 0.35);
$boxShadowDark: rgba(0, 0, 0, 0.2);

$easyColor: #4b4;
$moderateColor: #e93;
$hardColor: #c44;

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #FFF;
  letter-spacing: 1px;
}

body {
  background-color: $color;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
  text-shadow: 0;
}

.view {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.easy { background: $easyColor; }
.moderate { background: $moderateColor; }
.hard { background: $hardColor; }

#SearchBox {
  width: 400px;
  margin: auto;
  margin-top: calc(45vh - 60px);
}

  #SearchBox h1 {
    font-size: 20px;
    text-align: center;
  }

  #SearchBox input {
    background: $colorAccent;
    padding: 20px;
    width: 100%;
    border: 0;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 1px 1px 3px $boxShadowDark;
  }

  #SearchBox input::-webkit-input-placeholder {
    color: #FFF;
    opacity: 0.4;
  }

  #Percentage {
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    margin-top: 40vh;
  }

#Result {
  width: 1100px;
  margin: auto;
  margin-top: 80px;
  overflow: auto;
}

  #Result .overflowfix {
    overflow: auto;
  }

  #Result h3 {
    text-align: center;
    font-size: 23px;
    margin: 0;
    text-shadow: 1px 1px 0 $textShadowDark;
  }

  #Result h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 0 30px 0;
    text-shadow: 1px 1px 0 $textShadowDark;
  }

  #Result .ResultCol {
    width: 255px;
    float: left;
    margin: 10px;
    padding: 20px 0 5px 0;
    background: #F8F8F8;
    box-shadow: 1px 1px 3px $boxShadowDark;
  }

    #Result .ResultCol h2 {
      text-align: center;
      margin: 0;
      font-size: 42px;
      color: $colorAccent2;
      font-weight: 600;
    }

  #Result h4 {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    line-height: 18px;
    text-shadow: 1px 1px 0 $textShadowDark;
  }

#Result .customgrades {
  width: 580px;
  margin: auto;
}

  #Result .customgrades .ResultCol {
    width: 260px;
  }

#loading {
  margin: auto;
  margin-top: 40vh;
  display: block;
}

.TentaChartText {
  color: $colorAccent2;
  font-size: 22px;
  cursor: help;
}

.TentaChartText2 {
  font-size: 14px;
  transform: translate(0, 18px);
  cursor: help;
}

.TentaChartForeground {
  stroke: $colorAccent2;
}

.TentaChartForeground,
.TentaChartBackground {
  stroke-width: 11px;
  fill: transparent;
}

.TentaChartBackground {
  opacity: 0.9;
}

  .easy .TentaChartBackground { stroke: $easyColor; }
  .moderate .TentaChartBackground { stroke: $moderateColor; }
  .hard .TentaChartBackground { stroke: $hardColor; }

#toast {
  width: 100vw;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 20px;
  text-align: center;
  z-index: 1000000;
  display: none;
}

#toast span#toast_message {
  color: #FFF;
  line-height: 50px;
  font-size: 13px;
  padding: 10px 20px;
  background: $colorAccent2;
}

#toast strong {
  font-weight: 700;
}

#credit {
  width: 500px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -250px;
}

  #credit h6 {
    margin: 0;
    font-size: 9px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px $textShadowDark;
  }

.coming-soon {
  opacity: 0.5;
  title: 'Kommer snart';
}

@media screen and (min-width: 1400px) {

  #Result {
    width: 1400px;
  }

    #Result h1 {
      font-size: 55px;
    }

    #Result h1 .hp {
      font-size: 40px;
    }

    #Result .ResultCol {
      width: 330px;
      padding: 30px 0 10px 0;
    }

  #Result .customgrades {
    width: 740px;
  }

    #Result .customgrades .ResultCol {
      width: 350px;
    }

  .TentaChartText {
    font-size: 24px;
  }

  .TentaChartText2 {
    font-size: 15px;
    transform: translate(0, 20px);
  }

  .TentaChartForeground,
  .TentaChartBackground {
    stroke-width: 14px;
  }

}
